<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>WebApps with AngularJS</title>

    <meta name="description" content="WebApps with AngularJS">
    <meta name="author" content="Henk Bakker">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css" id="theme">
    <link rel="stylesheet" href="css/theme/custom.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/tomorrow.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="course">
    <img src="examples/assets/angularjs-shield.png"/> <span>AngularJS</span>
</div>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <h1>WebApps with </h1>

            <img src="examples/assets/angularjs-logo.png">

            <p>By Henk Bakker</p>

            <div class="about">
                <img class="circle" src="examples/assets/henk.jpg"/>
            </div>
        </section>
        <section data-background="examples/assets/men-in-black.jpg">
            <h2><span class="white" style="top: -10px">Forget everything about</span></h2>

            <h1 class="fragment"><span class="white">JQuery</span></h1>
        </section>
        <section>
            <h2>What is <span class="show-off">AngularJS</span></h2>

            <p>It's a structural framework for dynamic web apps<br/> that's easy to maintain, in a fast and testable
                way.</p>
        </section>
        <section>
            <h2>The principles</h2>
            <ul class="fragment">
                <li>Rapid development</li>
                <li>Modularity</li>
                <li>Built to be testable</li>
                <li>Write less code</li>
            </ul>
        </section>
        <section>
            <h2>What it offers us</h2>
            <img src="examples/assets/services.png" height="450"/>
        </section>
        <section>
            <h2>The simplest example</h2>
          <pre ng-non-bindable><code data-trim class="html">
&lt;!DOCTYPE html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;form&gt;
      &lt;label&gt;Your name?&lt;/label&gt;
      &lt;input type="text" ng-model="name" placeholder="Your name?"&gt;
    &lt;/form&gt;
    &lt;h3&gt;My name is {{ name }}!&lt;/h3&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>

            <div class="hide-in-print mt fragment">
                <hr>
                <!doctype html>
                <html ng-app>
                <body class="mt">
                <form>
                    <label>What's your name?</label>
                    <input class="big-input" type="text" ng-model="name" placeholder="What's your name?">
                </form>
                <h3 class="mt">My name is <span class="show-off">{{ name }}</span>!</h3>
                </body>
                </html>
            </div>
        </section>
        <section data-background="examples/assets/awesome.gif"></section>
        <section>
            <h2>$scope</h2>
            <p><span class="show-off">$scope</span> is an object that refers to the application model.<br/> It connects the <strong>View</strong> and the <strong>Controller</strong>, also called <strong>ViewModel</strong></p>

            <div class="fragment">
                <p class="mt">
                    myController.js
                </p>
            <pre><code data-trim class="javascript">
function MyController($scope) {
    $scope.name = 'Henk Bakker';
}
            </code></pre>

                <p class="mt">
                    myView.html
                </p>
            <pre ng-non-bindable><code class="html" data-trim>
&lt;form ng-controller="MyController"&gt;
    &lt;input type="text" ng-model="name"&gt;
&lt;/form&gt;
            </code></pre>
            </div>
        </section>
        <section data-background-color="#268bd2" class="title">
            <h1>Instant Search</h1>
            <h3><a href="examples/search.html" target="_blank">Demo</a></h3>
        </section>

        <section data-background-color="#268bd2" class="title">
            <h1>Instagram</h1>
            <h3><a href="examples/instagram.html" target="_blank">Demo</a></h3>
        </section>
        <section data-background-color="#cb4b16">
            <h1><span class="white">Questions</span></h1>
        </section>
        <section data-background="examples/assets/thanks.gif"><h1><span class="magenta">Thanks</span></h1></section>
    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="examples/js/angular.min.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            }
            },
//					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
//					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            {
                src: 'plugin/highlight/highlight.js', async: true, condition: function () {
                return !!document.querySelector('pre code');
            }, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            },
            {src: 'plugin/zoom-js/zoom.js', async: true},
					{ src: 'plugin/notes/notes.js', async: true }
        ]
    });

</script>

</body>
</html>
